@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Code Medical</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Code Medical</h2>
        <p>
            Code Medical is an application for an imaginary medical office.
            It's purpose is to manage the patients and prescriptions of the office
            and to generate some reports about the number of prescriptions and drugs that have been issued in a specified period of time.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Developed by Despa Catalin-Daniel</h2>
        <div>
            <a href="https://www.linkedin.com/in/catalin-daniel-despa/" target="_blank">LinkedIn</a>

        </div>
        <div>
            <a href="https://twitter.com/DespaCatalin" target="_blank">Twitter</a>

        </div>
        <div>
            <a href="https://www.instagram.com/catalindd99/" target="_blank">Instagram</a>

        </div>
        <div>
            <a href="mailto:catalin.despa@gmail.com">catalin.despa@gmail.com</a>
        </div>

    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/Catalin-code/code-medical" target="_blank">See project source code &raquo; </a></p>
    </div>
</div>
